.product-details-main{
     color: black; 
    background-color: white;
    width:100vw;
    height:100vh;
}


 @media (min-width:769px){  
    .middle-section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
    }
    .left-side{
        width:70%;
    }
    .right-side{
        width:30%;
        border: 1px solid green;
    }
    .right-side div:nth-child(1){
        padding-left: 25px;
    }
    #how_long{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: gray;
        opacity: 0.6;
        font-size: 12px;
    }
    #how_long img{
        width:20px;
        height:20px;
    }
    #slider_product{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid yellow;
    }
    .slider {
        -webkit-appearance: none; 
        border-radius: 5px;
        width:85%;
        align-self: center;
        height: 25px;
        border: 1px solid blue;
        background-color: gray;
    }
    .slider::-webkit-slider-thumb{
        -webkit-appearance: none; 
        background-color: white;
        width:25px;
        height: 25px;
        border-radius: 50%;
        border: 5px solid red;
    }
    .slider-bottom{
        display: flex;
        border:1px solid green;
        justify-content: space-between;
        cursor: pointer;
    }
    .slider-months{
        display: flex;
        flex-direction: column;
        justify-content: left;
        border:1px solid blue;
    }
    .slider-months div{
        margin-left: -20px;
        border:1px solid red;
        display: flex;
        justify-content: center;
    }
   
    
} 

@media (max-width:320px){  

}

@media (min-width:321px) and (max-width:768px){  

}

/* background: linear-gradient(90deg,rgb(117,252,117) 60%, rgba(214,214,214) 60%); */


