
.prod-container{
    width:90%;
    margin: auto;
    
}
.first-sect{
    width:100%;
    align-self: center;
    display: flex;
    border: 1px solid #808080;
    margin-top: 20px;
    justify-content: space-around;
    padding: 10px;
}
.first-sect img{
    width:50%;
}
.first-sect div:last-child{
    width:30%;
    align-self: center;
}
.first-sect div:nth-child(1){
    width:20%;
}
.prod-heading{
    margin-top: 20px;
    font-size:30px;
    font-weight: 600;
}
.border-below{
    border-top:4px solid red;
   
    width:10%;
}

.actual-prod{
    display: flex;
    border: 0px solid green;
    gap:30px;
}
.slider-image{
    padding:30px 0px 20px 0px;
    width: 45%;
    
}
.round-container{
    display: flex;
    border:0px solid yellow;
    
    justify-content: space-around;
    position: relative;
    top:-25px;
}
.round-container>div{
    background-color: gray;
    width:15px;
    height:15px;
    border-radius: 50%;
    cursor: pointer;
}
#round{
    background-color: red;
    
}
.actual-right{
    width:70%;
}

#gray-bottom-border{
    margin-top: 10px;
    width:15%;
    border-top: 4px solid gray;
    margin-bottom: 10px;
}
#paragraph{
    font-size: 13px;
    font-weight: 100;
}

.info-box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.info-Fbox{

    width:100%;
}
#ul_size{
    padding-left: 20px;
    font-size: 13px;
    font-weight: 100;
    padding-top:5px;
}
#material-heading{
    margin-top: 20px;
}

.Material{
    width: 80%;
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 13px;
    font-weight: 100;
    padding-top:5px;
}

#features-points{
    padding-left: 20px;
    font-size: 13px;
    font-weight: 100;
    
}
.features-points{
    margin-top:10px;
}

.monthly-deposit{
    margin-top: 30px;
    width:80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

@media (max-width:599px){
    
    
    .actual-prod{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .actual-prod>div{
        align-self: center;
    }
    .first-sect{
        display: flex;
        flex-direction: column;
    }
    .first-sect>div{
        align-self: center;
        width: fit-content;
    }
    .slider-image{
        width:70%;
    }
    .info-box{
        display: flex;
        flex-direction: column;
    }
    #features{
        margin-top: 15px;
    }
}