.package:hover{
    padding-top: 10px;
        cursor: pointer;
    }
@media screen and (max-width:5000px) {
    .maingrid{
        
        width:90%;
        margin-left:5%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 25px;
        row-gap: 25px;
    }
    .iconblock{
        margin-top: -100px;
        width: 400px;
        height: auto;
    }
    /* mt="-100px" w="400px" h="auto" */

    
}
 /* templateColumns={"repeat(3,1fr)"} w="90%" ml="5%" gap="7" rowGap={"10"} */
@media screen and (max-width:970px) {
    .maingrid{
        width:90%;
        margin-left:5%;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        row-gap: 25px;
    }
    .iconblock{
        margin-top: -100px;
        width: 400px;
        height: auto;
    }
    
}

@media screen and (max-width:750px) {
    .maingrid{
        width:90%;
        margin-left:5%;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
        row-gap: 25px;
    }
    .iconblock{
        margin-top: -100px;
        width: 500px;
        height: auto;
    }
  }
  
  /* @media screen and (max-width:350px) {

  } */