.parent{
    background-color: white;
    color:black;
    min-width: 100vw;
    min-height: 100vh;
}

.container{
    
    width:85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border: 0px solid blue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
    padding-top: 40px;
    gap:40px;
}

.left_cart{
    width:60%;
    border: 0px solid yellowgreen;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: whitesmoke;
}

.right_cart{
    width:40%;
    border:0px solid salmon;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (min-width:600px) and (max-width:768px){
    .container{
        width:90%;
        display: flex;
        flex-direction: column;
    }
}
@media (max-width:599px){
    .container{
        width:90%;
        display: flex;
        flex-direction: column;
    }
}